@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import "./sections/section-1";
@import "./sections/section-2";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100%;
    background: #1D232A;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    display: flex;
}